/* Single page main container */
.lf-single-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
}

/* Cart table head background color */
.shop_table_responsive thead tr {
    background-color: #E4E4E4;
}

/* Cart remove product item icon */
.product-remove a.remove {
    border: 1px solid var(--color-black);
    color: black !important;
    font-weight: 400;
}

/* Cart remove product item icon hover */
.product-remove a:hover {
    background-color: var(--color-black) !important;
    color: var(--color-white);
}

/* Cart remove product item icon */
.shop_table tbody .product-remove {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding: 50px 0px 50px 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cart product thumbnail */
.product-thumbnail {
    width: 100px !important;
}

.product-thumbnail a img,
.product-thumbnail a {
    width: 100% !important;
}

/* Product name and variation in cart table */
.woocommerce-cart-form__cart-item.cart_item .product-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}

.product-name .variation {
    font-size: 14px;
    width: 45%;
}

/* Product name title */
.product-name a {
    font-size: 20px;
    font-weight: 600;
}

/*  Product name and variation in cart table */
.woocommerce-cart-form__cart-item {
    border-top: 1px solid rgba(0, 0, 0, .1) !important;
}

/* Product table border on last 3 td */
.woocommerce-cart-form__cart-item td:nth-last-child(-n+3) {
    border-left: 1px solid #ccc;
}

/* Product price  */
.woocommerce-cart-form__cart-item .product-price .woocommerce-Price-amount {
    font-size: 17px;
    font-weight: 900;
}

/* Product quantity set */
.product-quantity .quantity input {
    padding: 6px;
    font-size: 16px;
}

/* Cart Coupen input and button */
.shop_table.shop_table_responsive tbody tr:last-child td .coupon {
    width: 50%;
    display: flex;
}


.shop_table.shop_table_responsive tbody tr:last-child td .coupon input {
    width: 45%;
}

/* Checkout button and coupen button */
.wc-proceed-to-checkout a.checkout-button,
.shop_table.shop_table_responsive tbody tr:last-child td .coupon button {
    padding: 15px 25px !important;
    border-radius: 30px !important;
    background-color: var(--color-lightgreen) !important;
    color: var(--color-white) !important;
}

/* Check out table container */
.wc-proceed-to-checkout {
    display: flex;
    max-width: 100%;
    justify-content: end;
}


.single-container {
    width: 100%;
}

.lf-banner-background {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.lf-banner-background::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value to adjust opacity */
  }

.lf-banner-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    top: 50%;
    transform: translate(0 ,-50%);
}

.lf-banner-title h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 40px 0 20px;
}

.lf-single-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    column-gap: 25px;
    display: flex;
}

.lf-single-content-right li {
    list-style: none;
}


.widget_nav_menu .menu-footer-menu-container .menu li {
    padding: 12px 0 ;
    border-bottom: 1px solid white;
}

.lf-single-content-right {
    background-color: #d3d3d3;
}

.lf-single-content-right {
    width: 30%;
    padding: 20px;
}

.width-100 {
    max-width: 100%;
}

.width-75 {
    width: 70%;
}

.post-feature-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.post-feature-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 400px;
}

.customer_details {
    display: flex;
    flex-direction: column;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    width: 92% !important;
}

.woocommerce-checkout-review-order-table {
    margin-top: 80px !important;
}

form.woocommerce-checkout {
    position: relative;
    display: flex;
    flex-direction: row;
}

#order_review_heading {
    position: absolute;
    top: 4px;
    right: 39%;
}

.woocommerce-MyAccount-navigation ul {
    display: flex;
    flex-direction: column;
}

.woocommerce-MyAccount-navigation ul li:last-child{
    order: -1;
    padding: 20px;
    background-color:#ff0044;
    width: max-content;
}

.woocommerce-MyAccount-navigation ul li:last-child a {
    color: var(--color-white);
}


.user-avatar img {
    height: 100px !important;
    width: 100px !important; 
    object-fit: cover !important;
}

.welcome-msg {
    margin-bottom: 30px;
}

.woocommerce-MyAccount-navigation ul li a{
    color: #ff0044;
    margin-bottom: 10px;
}

.woocommerce-MyAccount-navigation ul li {
    margin-bottom: 30px;
    border-bottom: 1px solid #ff0044;
    width: 80%;
}

@media only screen and (max-width:768px) {
    .lf-banner-background {
        height: 135px;
    }

    .lf-banner-title {
        left: 30px;
    }

    .lf-single-content {
        flex-direction: column;
        padding: 20px;
        overflow: hidden;
    }

    .lf-single-content-right,
    .lf-single-content-left {
        width: 85%;
        margin: auto;
    }
}